version: "3.9"

services:
  # --- База даних ---
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pixel_track
      PGDATA: /var/lib/postgresql/data
      TZ: UTC
      PGTZ: UTC
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql

  # --- Redis ---
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

  # --- Інтерфейс для Redis ---
  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "8001:5540"
    volumes:
      - redis_insight:/data
    depends_on:
      - redis

  grafana:
      image: grafana/grafana:latest
      container_name: pixel_grafana
      ports:
        - "3000:3000"
      environment:
        - GF_SECURITY_ADMIN_PASSWORD=admin
      depends_on:
        - db

volumes:
  pg_data:
  redis_data:
  redis_insight:
  grafana_data: