services:
  app:
    build:
      context: ..
      dockerfile: ./Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:18.0
    environment:
      - POSTGRES_USER=cr9
      - POSTGRES_PASSWORD=101201vlad
      - POSTGRES_DB=pixel_track
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
