version: "3.9"

services:
  app:
    build:
      context: ..
      dockerfile: ../Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - ..:/app
    environment:
      PYTHONPATH: /app

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pixel_track
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
